.header {
  background: #3c3a39;
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
  align-items: center;
}

.header a {
  margin-right: 1rem;
}

.headline {
  background: #3c3a39;
}

.illustration-header {
  background: #3c3a39;
  background-image: url(illustration-header-mobile.png);
  height: 311.71px;
  width: 406.36px;
}

.wraper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.wraper > * {
  flex: 1 1 auto;
}

.container {
  display: flex;
}
