html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.header:last-child {
  margin-right: 1rem;
}

.logo {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

.logo:active {
  box-shadow: 0 2px rgb(255, 254, 254);
  transform: translateY(4px);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  background: #1c1a19;
  background-image: url(illustration-header-mobile.png);
  background-position: 100% 100%;
  background-size: 25%;
  background-repeat: no-repeat;
}

.name {
  position: static;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.job-title {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex: none;
  flex-grow: 0;
}

.headline p {
  flex: none;
  flex-grow: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.icon-bar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.icon-bar li {
  display: inline-block;
  margin: 10px;
  height: 30px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}

.card {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 327px;
  height: 386px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(card-background.png);
}

.card-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  width: 327px;
  height: 248px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-title {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.card-desc {
  width: 295px;
  height: 87px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.card-tech-btns {
  padding: 0;
  width: 236px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
  list-style: none;
}

.card-btn button {
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  border: none;
}

.card-btn {
  float: left;
}

.card-btn-html {
  width: 56px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-btn-strap {
  width: 95px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-btn-ruby {
  width: 61px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.proj-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ff6b00;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 327px;
  height: 48px;
}

.proj-view button {
  width: 124px;
  height: 48px;
  background: #ff6b00;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.recent-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.first-card {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.first-project {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.first-card-content {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  margin: 24px 0;
  width: 327px;
  height: 83px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.line {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
  margin: 24px 0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.multi-post {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.multi-post-content {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.tech-buttons-recent {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.btn-css {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-html {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn-strap {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.btn-ruby {
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button-recent button {
  border: 1px solid #8993a4;
  height: 40px;
  background: #fff;
  padding: 10px 12px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.see-first-project {
  border: none;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 12px;
  background: #ff6b00;
  width: 124px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.about-myself {
  background: #1c1a19;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  width: 375px;
  height: 563px;
  background-image: url(about-background.png);
  background-position: 100% 90%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.about-title {
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.about-content {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
}

.get-resume {
  border: none;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0;
  background: #ff6b00;
  color: #fff;
  text-align: center;
}

.get-resume:hover {
  background: #f80;
  padding: 14px;
}

.devider {
  border: 1px solid #fff;
  margin: 8px 24px;
  width: 327px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  width: 329px;
  height: 1241.46px;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 225.46px;
  height: 281.46px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
  list-style: none;
}

.list-item1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.language {
  list-style: square outside url("trans-rect.png");
}

.lang-item {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.framwork-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 281px;
  height: 336px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
  list-style: none;
}

.framworks {
  list-style: square outside url("rectangle.png");
}

.skills-item {
  list-style: square outside url("circle.png");
}

.skills-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 169px;
  height: 336px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: 375px;
  height: 844px;
  margin-top: 58px;
}

.form-heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
  width: 327px;
  height: 216px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 330px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.form-inputs {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 327px;
  padding: 0;
}

.submit-button {
  padding: 12px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.submit-button:hover {
  background: #ff5100;
  padding: 14px;
  width: 135px;
}

.name-item {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.email-item {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
}

.comment-item {
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0;
}

.input {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  height: 18px;
  width: 295px;
  border: none;
}

.input-area {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  width: 303px;
  height: 90px;
}

.input-devider {
  height: 1px;
  width: 327px;
  background: #dbd8d7;
}

.form-footer-devider {
  background: #dfe1e6;
  height: 1px;
  width: 100%;
}

footer {
  width: 375px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 200px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav-git {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav-in {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.nav-vector {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.nav-twitter {
  flex: none;
  order: 3;
  flex-grow: 0;
}

.nav-m {
  flex: none;
  order: 4;
  flex-grow: 0;
}
