* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.header {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.header-mobile-menu-opened {
  flex-direction: column-reverse;
  align-items: inherit;
}

.toggle-button {
  margin-right: 1rem;
  width: 18px;
  height: 12px;
  background-image: url(img/Union.png);
  order: 2;
  background-size: contain;
  background-repeat: no-repeat;
}

.toggle-button-opened {
  margin-right: 1rem;
  width: 18px;
  height: 14px;
  background-image: url(img/closeicon.png);
  order: 2;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: flex-end;
}

.logo {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
  order: 0;
}

.logo:active {
  box-shadow: 0 2px rgb(255, 254, 254);
  transform: translateY(4px);
}

.mobile-menu {
  order: 1;
}

.navbar-links {
  display: none;
  margin: 0;
  padding: 0;
}

.active-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.active {
  display: flex;
}

.inactive {
  display: none;
}

.navbar-links li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #6f6c6b;
  padding-left: 2rem;
  margin-top: 2rem;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #fff5e1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  background: #1c1a19;
  background-image: url(img/illustration-header-mobile.png);
  background-position: 100% 100%;
  background-size: 25%;
  background-repeat: no-repeat;
  height: 100vh;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  position: static;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.job-title {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex: none;
  flex-grow: 0;
}

.headline p {
  flex: none;
  flex-grow: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.icon-bar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-bar li {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}

.card {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 327px;
  height: 386px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(img/card-background.png);
}

.card-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  width: 327px;
  height: 248px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-title {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.card-desc {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.card-tech-btns {
  padding: 0;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
  list-style: none;
}

.card-btn button {
  height: 40px;
  padding: 5px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  border: none;
}

.card-btn {
  float: left;
}

.card-btn-html {
  width: 56px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-btn-strap {
  width: 95px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-btn-ruby {
  width: 61px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.proj-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ff6b00;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 327px;
  height: 48px;
}

.button-recent button {
  border: 1px solid #8993a4;
  height: 40px;
  background: #fff;
  padding: 10px 12px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.proj-view button {
  height: 48px;
  background: #ff6b00;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
  transition-property: background;
  transition-duration: 0.1s;
  transition-delay: 0.05s;
}

.proj-view button:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.recent-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.first-card {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.first-project {
  background-image: url(img/top-proj.png);
  width: 327px;
  height: 237px;
  margin: 1rem 0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.first-card-content {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  margin: 24px 0;
  height: 83px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.line {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
  margin: 24px 0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.multi-post {
  height: 36px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.multi-post-content {
  width: 327px;
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.tech-buttons-recent {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.btn-css {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-html {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn-strap {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.btn-ruby {
  flex: none;
  order: 3;
  flex-grow: 0;
}

.see-first-project {
  border: none;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 12px;
  background: #ff6b00;
  width: 124px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-top: 1rem;
}

.see-first-project:hover {
  border: 1px solid #f55800;
  background: #fff5e1;
  color: #f55800;
}

.about-myself {
  background: #1c1a19;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  width: 100%;
  height: 100vh;
  background-image: url(img/about-background.png);
  background-position: 100% 90%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.about-title {
  width: 100%;
  height: 79px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.about-content {
  max-width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
}

.get-resume {
  border: none;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0;
  background: #ff6b00;
  color: #fff;
  text-align: center;
}

.get-resume:hover {
  background: #f80;
  padding: 14px;
}

.get-resume:active {
  background: #e05304;
  color: #f4f1f0;
}

.devider {
  color: #fff;
  height: 1px;
  margin: 2rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  height: 1241.46px;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 225.46px;
  height: 336px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
  list-style: none;
}

.list-item1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.language {
  list-style: square inside url("img/trans-rect.png");
}

.lang-item {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.framwork-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 281px;
  height: 336px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
  list-style: none;
}

.framworks {
  list-style: square inside url("img/rectangle.png");
}

.skills-item {
  list-style: square inside url("img/circle.png");
}

.skills-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 169px;
  height: 336px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: 375px;
  height: 844px;
  margin: 58px 0;
}

.form-heading {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 330px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.submit-button {
  padding: 12px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.submit-button:hover {
  border: 1px solid #f55800;
  background: #fff5e1;
  color: #f55800;
}

.submit-button:active {
  background: #e05304;
  color: #f4f1f0;
}

.name-input {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.email-input {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
}

.input {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  height: 18px;
  width: 327px;
  border: none;
  margin-bottom: 14px;
}

.input-area {
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  width: 327px;
  height: 90px;
  background: #fbf8f7;
  border: none;
}

.input-devider {
  height: 1px;
  width: 327px;
  background: #dbd8d7;
}

.form-footer-devider {
  background: #dfe1e6;
  height: 1px;
  width: 100%;
}

footer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 15px 0;
  width: 200px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav-git {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav-in {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.nav-vector {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.nav-twitter {
  flex: none;
  order: 3;
  flex-grow: 0;
}

.nav-m {
  flex: none;
  order: 4;
  flex-grow: 0;
}

.home-indicator {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background: rgba(151, 148, 147, 0.7);
  overflow: auto;
}

.popup-container {
  position: relative;
  width: 95%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 718px;
  border: 1px dashed red;
  background: #fff;
  
}

.pop-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pop-title {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.close-pop {
  width: 12px;
  height: 12px;
}

.popup-tech {
  display: flex;
  list-style: none;
}

.popup-tech li {
  margin-right: 1rem;
}

.pop-tech-btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 0.5rem 1rem;
  border: 1px solid #979493;
}

.desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  height: 220px;
  width: 311px;
}

.see {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.see a {
  background: #ff6b00;
  padding: 12px;
}

.live {
  width: 134px;
  height: 48px;
}

.source {
  width: 159px;
  height: 48px;
}

.see a span {
  margin-right: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
}

@media (min-width: 768px) {
  .toggle-button {
    display: none;
  }

  .navbar-links {
    display: flex;
  }

  .navbar-links li {
    width: auto;
    list-style: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: none;
  }

  .header {
    padding: 0 5rem;
  }

  .logo {
    margin-left: 2rem;
  }

  .headline {
    background-image: url(img/desktop/Illustration-header.svg);
    background-size: 50%;
    flex-direction: row;
  }

  .icon-bar {
    order: 0;
    flex-direction: column;
    padding-top: 2rem;
  }

  .intro {
    max-width: 50%;
    order: 1;
    margin-left: 3rem;
  }

  .intro p {
    max-width: 566px;
  }

  .grid-container {
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin: 0 6rem;
  }

  .recent-work {
    width: 100%;
    padding: 0 1rem;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .title-container {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .line {
    width: 100%;
    max-width: 794px;
    margin-left: 1rem;
  }

  .first-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .first-project {
    background-image: url(img/desktop/img-placeholder.png);
    width: 648px;
    height: 448px;
    margin: 0;
  }

  .first-card-content {
    max-width: 448px;
    margin-left: 1rem;
  }

  .multi-post-content {
    width: auto;
    padding: 1rem 0;
  }

  .card {
    width: 369px;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(img/desktop/card-background.png);
  }

  .proj-view {
    display: none;
  }

  .card:hover {
    background: url(img/desktop/card-background.png);
    position: relative;
    cursor: pointer;
  }

  .card:hover > .card-block {
    display: none;
  }

  .card:hover > .proj-view {
    display: block;
    position: absolute;
    width: 369px;
    bottom: 0;
  }

  .about-myself {
    height: 100%;
  }

  .about {
    background-image: url(img/desktop/about-bg-desktop.png);
    background-position: 100% 50%;
    background-size: 50%;
    padding-left: 7rem;
  }

  .about-content {
    max-width: 566px;
  }

  .devider {
    margin-left: 7rem;
  }

  .skills {
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    height: auto;
    width: 100%;
  }

  .skills ul {
    align-items: flex-start;
  }

  .form-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 7rem 0;
  }

  .form {
    width: 50%;
    align-items: flex-start;
    margin: 0;
  }

  .form-heading {
    text-align: left;
    max-width: 455px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    margin: 0;
    padding: 1rem;
  }

  .desktop-input {
    width: 100%;
  }

  .input-devider {
    width: 100%;
  }

  .popup-container {
    height: 80vh;
    width: 80vw;
  }

  .popup-content {
    display: flex;
    flex-direction: row;
    border: 1px dashed red;
  }
}
