.header {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header:last-child {
  margin-right: 1rem;
}

.header a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.headline {
  background: #3c3a39;
}

.headline h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  color: #ff6b00;
  margin: 12px 0;
}

.job-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  font-size: 24px;
  color: #fff5e1;
}

.headline p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.illustration-header {
  background: #3c3a39;
  background-image: url(illustration-header-mobile.png);
  background-position: center;
  background-size: cover;
  height: 311.71px;
  width: 406.36px;
}

.wraper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 24px;
  background: #3c3a39;
}

.wraper > * {
  flex: 1 1 auto;
}

.container {
  display: flex;
  align-items: stretch;
  width: 375px;
  height: 590px;
}

.icon-bar ul {
  list-style: none;
}

.icon-bar li {
  display: inline-block;
  margin: 10px;
}
